/*  Darkerr 2.5 by Felix */

@-moz-document regexp("((.*?:8989)|(.*?\\/sonarr)).*"),
regexp("((.*?:7878)|(.*?\\/radarr)).*") {
    /* COLORS */
    :root {
        --color-DarkBG: #272727;
        --color-White: #D4D4D4;
        --color-Grey: #444444;
    }

    /* SCROLLBARS */
    ::-webkit-scrollbar-corner {
        background-color: #333333;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #333333;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #555555;
    }

    /* SEARCH */
    .col-md-6.form-control.x-series-search.tt-hint,
    .col-md-6.form-control.x-series-search.tt-input {
        background-color: #333333 !important;
        color: var(--color-White) !important;
        border: none;
        box-shadow: none;
    }
    .col-md-6.form-control.x-series-search::-webkit-input-placeholder {
        color: var(--color-White);
    }
    .tt-suggestion.tt-cursor {
        background-color: var(--color-White) !important;
        color: var(--color-Grey) !important;
    }
    .no-movies-found .tt-suggestion.tt-cursor {
        background-color: #333333 !important;
        color: var(--color-White) !important;
    }

    /* VERSION */
    #footer-region::after {
        content: "\A Darkerr Ver. 2.5";
        white-space: pre;
    }
}
