@-moz-document regexp("((.*?:8989)|(.*?\\/sonarr)).*(\\/wanted).*"),
regexp("((.*?:7878)|(.*?\\/radarr)).*(\\/wanted).*") {
    /* WANTED */
    /* backgrounds */
    .started #page {
        background-color: transparent;
        color: var(--color-White);
        box-shadow: none;
        max-width: 1429px;
    }

    /* buttons */
    .btn.btn-default.btn-icon-only-xs,
    .toolbar-group.x-toolbar-right-1 > .btn-group > .btn-default {
        background-color: transparent;
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
    .btn.btn-default.btn-icon-only-xs:hover,
    .toolbar-group.x-toolbar-right-1 > .btn-group > .btn-default:hover {
        background-color: var(--color-Grey);
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
    .toolbar-group.x-toolbar-right-1 > .btn-group > .btn-default.active {
        background-color: var(--color-White);
        color: var(--color-Grey);
        border-color: var(--color-White);
        outline-style: none;
    }

    /* tabs */
    .nav-tabs > li > a {
        color: var(--color-White);
        border: 1px solid transparent;
    }
    .nav-tabs > li > a:hover {
        background-color: var(--color-Grey);
        color: var(--color-White);
        border: 1px solid var(--color-White);
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: var(--color-White);
        color: var(--color-Grey);
        border: 1px solid var(--color-White);
    }

    /* paginator */
    .backgrid-paginator > ul > li > i {
        color: var(--color-White);
    }
    .backgrid-paginator > ul > li.disabled > i {
        color: var(--color-Grey);
    }
    .backgrid-paginator > ul > li.active > span {
        background-color: transparent;
        color: var(--color-White);
    }

    /* table */
    th.sortable:hover,
    .table-hover > tbody > tr:hover {
        background-color: var(--color-Grey);
    }

    /* detail */
    .modal-content {
        background-color: var(--color-DarkBG);
        color: var(--color-White);
    }
    button.close {
        color: var(--color-White);
        text-shadow: none;
        opacity: 1;
        outline-style: none;
    }
    button.close:hover {
        color: var(--color-Grey);
        text-shadow: none;
        opacity: 1;
        outline-style: none;
    }
    .episode-detail-modal > .modal-footer > .btn.btn-default {
        background-color: transparent;
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
    .episode-detail-modal > .modal-footer > .btn.btn-default:hover {
        background-color: var(--color-Grey);
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
    .btn.btn-lg.btn-block.x-search-auto {
        color: var(--color-Grey);
    }

    /* popover */
    .popover.in {
        opacity: .9;
    }
    .popover {
        background-color: #000;
        color: #fff;
    }
    .popover > .popover-title {
        background-color: #000;
        color: #fff;
        border: none;
    }
    .popover.left > .arrow,
    .popover.left > .arrow:after {
        border-left-color: #000;
    }

    /* manual import */
    .form-control.x-path.tt-hint,
    .form-control.x-path.tt-input {
        background-color: var(--color-Grey);
        color: var(--color-White);
        border: 1px solid var(--color-Grey);
        box-shadow: none;
    }
    .manual-import-modal > .modal-footer > button:nth-child(2),
    .modal-content > .modal-footer > button:nth-child(2) {
        background-color: transparent;
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
    .manual-import-modal > .modal-footer > button:nth-child(2):hover,
    .modal-content > .modal-footer > button:nth-child(2):hover {
        background-color: var(--color-Grey);
        color: var(--color-White);
        border-color: var(--color-White);
        outline-style: none;
    }
}
