/*COLORS
white -> 			#D4D4D4
white disable ->	#B9B9B9
black -> 			#141414
grey background -> 	#333333
*/


/*remove backgrounds*/

.started #page {
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
    color: #D4D4D4;
}

/*labels and badges*/

.label,
.badge {
    color: #141414 !important;
}
.ended-banner,
.cinemas-banner {
    color: #141414 !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

/*toolbar buttons*/

.btn.btn-default.btn-icon-only-xs,
.btn.btn-default.dropdown-toggle,
.btn.btn-default.btn-icon-only {
    background-color: #333333;
    border-color: #D4D4D4;
    color: #D4D4D4;
}
.btn.btn-default.btn-icon-only-xs:hover,
.btn.btn-default.dropdown-toggle:hover,
.btn.btn-default.btn-icon-only:hover {
    background-color: #141414;
    color: #D4D4D4;
}
.btn.btn-default.btn-icon-only-xs.disabled,
.btn-group.sorting-buttons.open > .btn.btn-default.dropdown-toggle,
.btn.btn-default.btn-icon-only.active {
    background-color: #B9B9B9;
    color: #141414;
}
.fc-prev-button.fc-button.fc-state-default.fc-corner-left,
.fc-next-button.fc-button.fc-state-default.fc-corner-right,
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right,
.fc-month-button.fc-button.fc-state-default.fc-corner-left,
.fc-basicWeek-button.fc-button.fc-state-default,
.fc-basicDay-button.fc-button.fc-state-default.fc-corner-right,
.fc-listYear-button.fc-button.fc-state-default.fc-corner-right,
.btn.btn-default.col-md-10.col-xs-8.add-series-import-btn.x-import,
.btn.btn-default.col-md-2.col-xs-4.x-add-new,
.btn.btn-default.col-md-3.col-xs-12.x-bulk-import,
.btn.btn-default.col-md-4.col-xs-12.add-movies-import-btn.x-discover,
.btn.btn-default.col-md-2.col-xs-12.x-add-new,
.btn.btn-default.col-md-3.col-xs-12.x-add-lists {
    background-image: none;
    background-color: #333333;
    color: #D4D4D4;
    text-shadow: none;
    border-color: #D4D4D4;
    outline-style: none;
}
.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-state-hover,
.fc-next-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover,
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-hover,
.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-state-hover,
.fc-basicWeek-button.fc-button.fc-state-default.fc-state-hover,
.fc-basicDay-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover,
.fc-listYear-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover,
.btn.btn-default.col-md-10.col-xs-8.add-series-import-btn.x-import:hover,
.btn.btn-default.col-md-2.col-xs-4.x-add-new:hover,
.btn.btn-default.col-md-3.col-xs-12.x-bulk-import:hover,
.btn.btn-default.col-md-4.col-xs-12.add-movies-import-btn.x-discover:hover,
.btn.btn-default.col-md-2.col-xs-12.x-add-new:hover,
.btn.btn-default.col-md-3.col-xs-12.x-add-lists:hover {
    background-image: none;
    background-color: #141414;
    color: #D4D4D4;
    outline-style: none;
}
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled,
.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-state-active,
.fc-basicWeek-button.fc-button.fc-state-default.fc-state-active,
.fc-basicDay-button.fc-button.fc-state-default.fc-corner-right.fc-state-active,
.fc-listYear-button.fc-button.fc-state-default.fc-corner-right.fc-state-active,
.btn.btn-default.col-md-10.col-xs-8.add-series-import-btn.x-import:focus,
.btn.btn-default.col-md-2.col-xs-4.x-add-new:focus,
.btn.btn-default.col-md-3.col-xs-12.x-bulk-import:focus,
.btn.btn-default.col-md-4.col-xs-12.add-movies-import-btn.x-discover:focus,
.btn.btn-default.col-md-2.col-xs-12.x-add-new:focus,
.btn.btn-default.col-md-3.col-xs-12.x-add-lists:focus {
    background-color: #B9B9B9;
    color: #141414;
    outline-style: none;
}

/*dropdown menus*/

.dropdown-menu {
    background-color: #333333;
}
.dropdown-menu > li > a:hover {
    background-color: #141414;
}
.sorting-title,
.dropdown-menu > li > a,
.icon-sonarr-sort-asc,
.icon-sonarr-sort-desc {
    color: #D4D4D4;
}

/*table view*/

.table-hover > thead > tr > th:hover,
.table-hover > tbody > tr:hover {
    background-color: #141414;
    color: #D4D4D4;
}
.progressbar-back-text {
    color: #141414;
}

/*overview list view*/

.col-md-10.col-xs-10 > a > h2,
.col-md-12.col-xs-12 > a > div {
    color: #D4D4D4;
}

/*posters view*/

.series-posters .series-posters-item {
    background-color: #333333;
    box-shadow: 0 0 10px 1px #000;
}
.series-posters .series-poster-container .series-controls,
.series-posters .series-poster-container .hidden-title {
    background-color: #333333;
    color: #D4D4D4;
    opacity: 0.9;
}
