[class^='Table-table'] {
  [class^='IconButton-button'] {
    &:hover {
      color: darken($white, 25%);
    }
  }

  [class*='TableRowCell-cell'] {
    [class*='ProgressBar-container'] {
      background-color: $grey;
    }

    [class*='Label-default'] {
      background-color: $grey;
      border-color: $grey;
    }
  }
}
