[class^='AddNewSeries-searchIconContainer'],
[class^='AddNewArtist-searchIconContainer'] {
  background-color: $grey;
  border-color: $grey;
  color: $white;
}

[class^='AddNewSeries-clearLookupButton'],
[class^='AddNewArtist-clearLookupButton'] {
  background-color: $grey;
  border-color: $grey;
  color: $white;
}

[class^='AddNewSeries-searchInput'],
[class^='AddNewArtist-searchInput'] {
  background-color: $grey;
  border-color: $grey;
  color: $white;

  &:focus {
    border-color: $white;
    box-shadow: none;
  }
}

[class^='AddNewArtist-message'] [class*='Link-to'] {
  &:hover {
    color: darken($lidarr, 10%);
  }
}

[class^='AddNewSeriesSearchResult-searchResult'],
[class^='AddNewArtistSearchResult-searchResult'] {
  background-color: transparent;
  color: $white;

  &:hover {
    background-color: $greydark;
  }

  [class*='Label-default'] {
    background-color: $grey;
    border-color: $grey;
  }
}
