/* --- ALBUM STUDIO --- */
//table
.AlbumStudioRow-seasons-fX5El div {
    border-color: $White !important;
    background-color: $GreyBG !important;
}

.AlbumStudioAlbum-tracks-2V7st {
    background-color: $GreyBG !important;
    color: $White !important;
}

//FIX
.AlbumStudioRow-seasons-fX5El {
    display: table-cell !important;
    flex-wrap: wrap !important;

    div {
        display: inline-block !important;

        div {
            display: inline-block !important;
        }
    }
}
