/* --- BANNERS --- */
//title
.ArtistIndexBanner-title-3TKM6 {
    background-color: transparent !important;
    color: $White !important;
}

//actions
.ArtistIndexBanner-content-lAM8B {
    &:hover {
        .Label-default-2zdw6 {
            background-color: $Grey !important;
            opacity: 1 !important;
        }
    }
}
