[class^='CalendarPage-calendarInnerPageBody'] {
  [class^='CalendarHeader-header'] {
    [class*='Button-default'] {
      background-color: $grey;
      border-color: $grey;
      color: $white;

      &:hover {
        background-color: lighten($grey, 5%);
        border-color: lighten($grey, 5%);
      }
    }

    [class*='Button-button'] {
      &[class*='isDisabled'] {
        background-color: lighten($grey, 5%);
        border-color: lighten($grey, 5%);
        opacity: 1;
      }
    }
  }

  [class^='DaysOfWeek-daysOfWeek'] {
    [class^='DayOfWeek-dayOfWeek'] {
      background-color: $grey;
      border: solid 1px $grey;
    }
  }

  [class^='CalendarDays-days'] {
    border-right-color: $grey;
  }

  [class^='CalendarDay-day'] {
    border-bottom-color: $grey;
    border-left-color: $grey;

    [class*='CalendarDay-isDifferentMonth'] {
      color: $grey;
    }

    [class*='CalendarDay-isToday'] {
      background-color: $grey;
    }

    [class^='CalendarEvent-seriesTitle'] {
      color: $white;
    }
  }

  [class^='Agenda-agenda'] {
    [class^='AgendaEvent-event'] {
      [class^='AgendaEvent-date'] {
        font-weight: normal;
      }

      &:hover {
        background-color: $greydark;
      }
    }
  }
}
