/* --- CALENDAR --- */
.CalendarPage-calendarInnerPageBody-Ac_g3 {
    //text
    color: $White !important;

    //buttons
    .CalendarHeader-header-2LBmS {
        .Button-default-1X0nf {
            background-color: $Grey !important;
            border-color: $Grey !important;
            color: $White !important;

            //hover
            &:hover {
                background-color: lighten($Grey, 5%) !important;
                border-color: lighten($Grey, 5%) !important;
            }
        }

        //active
        .Button-button-3GUER.isDisabled {
            background-color: lighten($Grey, 5%) !important;
            border-color: lighten($Grey, 5%) !important;
            opacity: 1 !important;
        }
    }

    //table
    .DaysOfWeek-daysOfWeek-3iixl {
        border: solid 1px $White !important;

        .DayOfWeek-dayOfWeek--jS1P {
            background-color: $Grey !important;
        }
    }

    .CalendarDay-day-3WaqW {
        border-bottom-color: $White !important;
        border-left-color: $White !important;

        //days
        .CalendarDay-isDifferentMonth-92idG {
            color: rgba($White, .5) !important;
        }

        .CalendarDay-isToday-1ZMWk {
            background-color: $Grey !important;
        }

        //events title
        .CalendarEvent-seriesTitle-1JEPE {
            color: $White !important;
        }

        .CalendarEvent-artistName-2wrDa,
        .CalendarEvent-albumTitle-3Eooo {
            .Link-to-1jNxQ {
                color: $White !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }

    //agenda
    .Agenda-agenda-1HdY0 {
        .AgendaEvent-event-1-I4T {
            &:hover {
                background-color: $Grey !important;
            }

            //events title
            .AgendaEvent-artistName-1JHMg,
            .AgendaEvent-albumTitle-3D26Z {
                .Link-to-1jNxQ {
                    color: $White !important;

                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}
