[class^='SeriesDetails-detailsLabel'],
[class^='ArtistDetails-detailsLabel'] {
  background-color: $grey;
  border-color: $grey;
}

[class^='SeriesDetailsSeason-season'],
[class^='ArtistDetailsSeason-albumType'] {
  background-color: $grey;
  border-color: $grey;
}

[class^='SeriesDetailsSeason-collapseButtonContainer'],
[class^='ArtistDetailsSeason-collapseButtonContainer'] {
  background-color: $grey;
  border-color: $grey;
}

[class^='AlbumDetails-detailsLabel'] {
  background-color: $grey;
  border-color: $grey;
}

[class^='AlbumDetails-contentContainer'] {
  [class^='AlbumDetailsMedium-medium'] {
    background-color: $grey;
    border-color: $grey;

    [class^='AlbumDetailsMedium-collapseButtonContainer'] {
      background-color: $grey;
      border-color: $grey;
    }
  }
}
