[class^='PageContentFooter-contentFooter'] {
  background-color: $dark;
  color: $white;

  [class^='ImportSeriesFooter-label'] {
    font-weight: normal;
  }

  [class*='Input-input'] {
    &:not([class*='CheckInput-primaryIsChecked']) {
      background-color: $grey;
      border-color: $grey;
      box-shadow: none;
      color: $white;
    }
  }
}
