[class^='ImportSeriesSelectFolder-recentFolders'],
[class^='ImportArtistSelectFolder-recentFolders'] {

  [class^='FieldSet-legend'] {
    color: $white;
  }

  [class^='TableHeaderCell-headerCell'] {
    font-weight: normal;
  }

  [class^='TableRow-row'] {
    &:hover {
      background-color: $greydark;
    }

    td {
      color: $white;

      [class^='IconButton-button'] {
        &:hover {
          color: darken($white, 25%);
        }
      }
    }
  }
}

[class^='ImportArtistSelectFolder-recentFolders'] {
  [class^='TableRow-row'] {
    [class^='ImportArtistRootFolderRow-link'] {
      &:hover {
        color: darken($lidarr, 10%);
      }
    }
  }
}

[class^='VirtualTable-tableContainer'] {
  [class*='VirtualTableHeaderCell-headerCell'] {
    font-weight: normal;
  }

  [class^='VirtualTableRow-row'] {
    [class*='CheckInput-input'] {
      &:not([class*='CheckInput-primaryIsChecked']) {
        background-color: $grey;
        border-color: $grey;
      }
    }

    [class^='SelectInput-select'] {
      background-color: $grey;
      border-color: $grey;
      box-shadow: none;
      color: $white;
    }

    [class^='ImportSeriesSelectSeries-button'],
    [class^='ImportArtistSelectArtist-button'] {
      background-color: $grey;
      border-color: $grey;
      box-shadow: none;
      color: $white;

      >div {
        >[class^='Label-default'] {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }

    [class*='Label-default'] {
      background-color: $greydark;
      border-color: $greydark;
    }
  }
}

[class^='ImportSeriesSelectSeries-contentContainer'] {

  [class^='ImportSeriesSelectSeries-content'] {
    background-color: $greydark;
    border-color: $greydark;

    [class^='ImportSeriesSelectSeries-searchContainer'] {

      [class^='ImportSeriesSelectSeries-searchIconContainer'] {
        background-color: $grey;
        border-color: $greydark;
        color: $white;
      }

      [class^='ImportSeriesSelectSeries-searchInput'] {
        background-color: $grey;
        border-bottom-color: $greydark;
        border-left-color: $grey;
        border-right-color: $grey;
        border-top-color: $greydark;
        color: $white;

        &:focus {
          border-bottom-color: $white;
          border-left-color: $white;
          border-right-color: $white;
          border-top-color: $white;
        }
      }

      [class*='Button-default'] {
        background-color: $grey;
        border-color: $greydark;
        color: $white;
      }
    }

    [class^='ImportSeriesSearchResult-series'] {
      &:hover {
        background-color: $grey;
      }

      [class^='ImportSeriesTitle-titleContainer'] {
        [class*='Label-default'] {
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }
}

[class^='ImportArtistSelectArtist-contentContainer'] {

  [class^='ImportArtistSelectArtist-content'] {
    background-color: $greydark;
    border-color: $greydark;

    [class^='ImportArtistSelectArtist-searchContainer'] {

      [class^='ImportArtistSelectArtist-searchIconContainer'] {
        background-color: $grey;
        border-color: $greydark;
        color: $white;
      }

      [class^='ImportArtistSelectArtist-searchInput'] {
        background-color: $grey;
        border-bottom-color: $greydark;
        border-left-color: $grey;
        border-right-color: $grey;
        border-top-color: $greydark;
        color: $white;

        &:focus {
          border-bottom-color: $white;
          border-left-color: $white;
          border-right-color: $white;
          border-top-color: $white;
        }
      }

      [class*='Button-default'] {
        background-color: $grey;
        border-color: $greydark;
        color: $white;
      }
    }

    [class^='ImportArtistSearchResult-artist'] {
      &:hover {
        background-color: $grey;
      }
    }
  }
}
