/* --- IMPORT --- */
//texts
.ImportSeriesSelectFolder-header-1rpit,
.ImportArtistSelectFolder-header-1AE_l {
    color: $White !important;
}

.ImportSeriesSelectFolder-tips-JyTiT,
.ImportArtistSelectFolder-tips-1fNVx {
    color: $White !important;
}

//tables
.ImportSeriesSelectFolder-recentFolders-lMoG0,
.ImportArtistSelectFolder-recentFolders-23QDg {

    //legend
    .FieldSet-legend-3mbvV {
        color: $White !important;
    }

    //heder cell
    .TableHeaderCell-headerCell-18Ef4 {
        color: $White !important;
    }

    //row
    .TableRow-row-2tPLX {
        &:hover {
            background-color: $Grey !important;
        }

        td {
            color: $White !important;

            //icon
            .IconButton-button-20Niq {
                &:hover {
                    color: darken($White, 33%) !important;
                }
            }

            //lidar link hover
            .ImportArtistRootFolderRow-link-2tM9A {
                &:hover {
                    color: darken($color: #0b8750, $amount: 5) !important;
                }
            }
        }
    }
}

.VirtualTable-tableContainer-10vt2 {
    .VirtualTableHeader-header-3h3Uc {
        color: $White !important;
    }

    //title
    .ImportSeriesRow-folder-2UIcj,
    .ImportArtistRow-folder-1BYy- {
        color: $White !important;
    }

    //select
    .VirtualTableRow-row-2osBd {
        .SelectInput-select-Xb227 {
            border-color: $White !important;
            background-color: $Grey !important;
            box-shadow: none !important;
            color: $White !important;
        }

        .ImportSeriesSelectSeries-button-AkdHs,
        .ImportArtistSelectArtist-button-WUML4 {
            border-color: $White !important;
            background-color: $Grey !important;
            box-shadow: none !important;
            color: $White !important;
        }
    }
}
