[class^='Table-table'] {
  [class*='CheckInput-input'] {
    &:not([class*='CheckInput-primaryIsChecked']) {
      background-color: $grey;
      border-color: $grey;
    }
  }

  thead {
    color: $white;

    [class*='TableHeaderCell-headerCell'] {
      font-weight: normal;
    }
  }

  tbody {
    tr {
      color: $white;

      &:hover {
        background-color: $greydark;
      }
    }

    td {
      [href*='artist'] {
        &:hover {
          color: darken($lidarr, 10%);
        }
      }
    }
  }
}
