[class^='MenuContent-menuContent'] {
  background-color: $grey;
}

[class^='MenuItem-menuItem'] {
  background-color: transparent;

  &:hover {
    background-color: darken($grey, 3%);
  }
}

[class^='MenuItemSeparator-separator'] {
  background-color: darken($white, 75%);
}
