/* --- MODALS --- */
//background
.ModalContent-modalContent-1B9AX {
    background-color: $GreyBG !important;

    //borders
    .ModalHeader-modalHeader-P3MTG {
        border-bottom-color: $Grey !important;
    }

    .ModalFooter-modalFooter-3izCM {
        border-top-color: $Grey !important;

        //buttons
        .Button-default-1X0nf {
            background-color: $Grey !important;
            border-color: $Grey !important;
            color: $White !important;

            //hover
            &:hover {
                background-color: lighten($Grey, 5%) !important;
                border-color: lighten($Grey, 5%) !important;
            }
        }
    }

    //options
    .TableOptionsColumn-column-2z0me {
        background-color: $Grey !important;
        border-color: $Grey !important;

        .CheckInput-input-3l3IR {
            &:not(.CheckInput-primaryIsChecked-1hv3I) {
                background-color: $GreyBG !important;
            }
        }
    }

    //group
    .QualityProfileItem-qualityProfileItem-2Xr42 {
        background-color: $GreyBG !important;
        border-color: $White !important;
    }

    .QualityProfileItemGroup-qualityProfileItemGroup-3SvgI {
        background-color: $GreyBG !important;
        border-color: $White !important;

        //quality profile labels
        .Label-default-2zdw6 {
            background-color: $Grey !important;
            border-color: $Grey !important;
            font-weight: normal !important;
        }
    }

    //tag
    .TagInput-inputContainer-3dApq {
        &.TagInput-isFocused-tZ4gk {
            border-color: $White !important;
            box-shadow: none !important;
        }

        .TagInputInput-inputContainer-1SHrF {
            .TagInput-input-2UK6_ {
                background-color: $Grey !important;
                color: $White !important;
            }
        }

        .TagInput-suggestionsContainer-1vjHY {
            background-color: $Grey !important;
            border-color: $Grey !important;

            .TagInput-suggestion-3jRkQ {
                &:hover {
                    background-color: darken($Grey, 5%) !important;
                }
            }
        }
    }

    //tab
    .EpisodeDetailsModalContent-tab-3I6HD {
        &:hover {
            border-color: $Grey !important;
            border-radius: 0 0 5px 5px !important;
        }
    }

    .EpisodeDetailsModalContent-selectedTab-7Bu7j {
        border-color: $Grey !important;
        background-color: $Grey !important;
        color: $White !important;
    }

    //lidarr link
    .InteractiveAlbumSearchRow-title-gJxg0 {
        .Link-to-1jNxQ {
            &:hover {
                color: darken($color: #0b8750, $amount: 5) !important;
            }
        }
    }

    //custom filters
    .CustomFilter-customFilter-1oZ5p {
        &:hover {
            background-color: $Grey !important;
        }
    }

    .FilterBuilderRow-filterRow-MAylC {
        &:hover {
            background-color: $GreyBG !important;
        }
    }
}

//dropdown menu
.EnhancedSelectInput-options-rq1zN {
    background-color: $Grey !important;
    border-color: $Grey !important;

    //hover
    .EnhancedSelectInputOption-option-24eyb {
        &:hover {
            background-color: darken($Grey, 5%) !important;
        }
    }

    .EnhancedSelectInputOption-isSelected-3Tobc {
        background-color: darken($Grey, 5%) !important;
    }
}
