[class^='Modal-modalBackdrop'] {
  background-color: rgba($greydark, .7);
}

[class^='ModalContent-modalContent'] {
  background-color: $dark;

  [class^='ModalHeader-modalHeader'] {
    border-bottom-color: $dark;
  }

  [class^='ModalFooter-modalFooter'] {
    border-top-color: $dark;

    [class*='Button-default'] {
      background-color: $grey;
      border-color: $greydark;
      color: $white;

      &:hover {
        background-color: lighten($grey, 5%);
        border-color: lighten($greydark, 5%);
      }
    }
  }

  [class^='TableOptionsColumn-column'] {
    background-color: $grey;
    border-color: $grey;

    [class^='CheckInput-input'] {
      &:not([class^='CheckInput-primaryIsChecked']) {
        background-color: $greydark;
      }
    }
  }

  [class^='QualityProfileItem-qualityProfileItem'] {
    background-color: $greydark;
    border-color: $white;
  }

  [class^='QualityProfileItemGroup-qualityProfileItemGroup'] {
    background-color: $greydark;
    border-color: $white;

    [class^='Label-default'] {
      background-color: $grey;
      border-color: $grey;
      font-weight: normal;
    }
  }

  [class^='TagInput-inputContainer'] {
    &[class^='TagInput-isFocused'] {
      border-color: $white;
      box-shadow: none;
    }

    [class^='TagInputInput-inputContainer'] {
      [class^='TagInput-input'] {
        background-color: $grey;
        color: $white;
      }
    }

    [class^='TagInput-suggestionsContainer'] {
      background-color: $grey;
      border-color: $grey;

      [class^='TagInput-suggestion'] {
        &:hover {
          background-color: darken($grey, 5%);
        }
      }
    }
  }

  [class^='EpisodeDetailsModalContent-tab'] {
    &:hover {
      border-color: $grey;
      border-radius: 0 0 5px 5px;
    }
  }

  [class^='EpisodeDetailsModalContent-selectedTab'] {
    background-color: $grey;
    border-color: $grey;
    color: $white;
  }

  [class^='InteractiveAlbumSearchRow-title'] {
    [class^='Link-to'] {
      &:hover {
        color: darken($lidarr, 5%);
      }
    }
  }

  [class^='CustomFilter-customFilter'] {
    &:hover {
      background-color: $grey;
    }
  }

  [class^='FilterBuilderRow-filterRow'] {
    &:hover {
      background-color: $greydark;
    }
  }

  [class^='PathInput-pathInputContainerOpen'] {
    [class^='PathInput-pathContainer'] {
      background-color: $grey;
      border-color: darken($grey, 5%);

      [class^='PathInput-pathListItem'] {
        &:hover {
          background-color: darken($grey, 5%);
        }
      }
    }
  }
}

[class^='EnhancedSelectInput-options'] {
  background-color: $grey;
  border-color: $grey;

  [class^='EnhancedSelectInputOption-option'] {
    &:hover {
      background-color: darken($grey, 5%);
    }
  }

  [class^='EnhancedSelectInputOption-isSelected'] {
    background-color: darken($grey, 5%);
  }
}
