@media (min-width: 768px) {
  [class^='FieldSet-fieldSet'] {
    &:nth-child(4) [class^='DescriptionList-descriptionList'] {
      [class^='DescriptionListItemTitle-title'] {
        &:nth-child(1) {
          &::after {
            content: '\A Home page Darkerr';
            white-space: pre;
          }
        }
      }

      [class^='DescriptionListItemDescription-description'] {
        &:nth-child(2) {
          &::after {
            content: '\A git.io/Darkerr';
            white-space: pre;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  [class^='FieldSet-fieldSet'] {
    &:nth-child(4) [class^='DescriptionList-descriptionList'] {
      [class^='DescriptionListItemDescription-description'] {
        &:nth-child(2) {
          &::after {
            content: '\A Home page Darkerr';
            font-weight: bold;
            white-space: pre;
          }
        }
      }

      [class^='DescriptionListItemTitle-title'] {
        &:nth-child(3) {
          &::before {
            content: 'git.io/Darkerr \A';
            font-weight: normal;
            white-space: pre;
          }
        }
      }
    }
  }
}
