[class^='SeriesIndexOverview-title'],
[class^='SeriesIndexOverview-overview'],
[class^='ArtistIndexOverview-title'],
[class^='ArtistIndexOverview-overview'] {
  color: $white;

  &:hover {
    color: $white;
  }
}

[class^='SeriesIndexOverview-container'] {
  &:hover {
    [class^='SeriesIndexOverview-content'] {
      background-color: $greydark;

      [class^='IconButton-button'] {
        &:hover {
          color: darken($white, 25%);
        }
      }
    }
  }
}

[class^='ArtistIndexOverview-container'] {
  &:hover {
    [class^='ArtistIndexOverview-content'] {
      background-color: $greydark;

      [class^='IconButton-button'] {
        &:hover {
          color: darken($white, 25%);
        }
      }
    }
  }
}
