[class^='Tooltip-tooltipContainer'] {

  [class^='Tooltip-bottom'],
  [class^='Tooltip-tooltip'] {

    &[class^='Tooltip-inverse'],
    &[class*='Tooltip-default'] {
      background-color: $grey;
    }
  }

  [class*='Tooltip-right'] {
    &[class*='Tooltip-default'] {
      border-right-color: $grey;
    }
  }

  [class^='Label-info'] {
    background-color: transparent;
    border-color: transparent;
    font-weight: normal;

    &:hover {
      background-color: $grey;
      border-color: $grey;
    }
  }

  [class^='Popover-title'] {
    background-color: $grey;
    border-bottom-color: $grey;
  }
}

[class^='Popover-popoverContainer'] {

  [class^='Popover-popover'] {
    background-color: $dark;

    [class^='Popover-left'] {
      border-left-color: $dark;

      &::after {
        border-left-color: $dark;
      }
    }

    [class^='Popover-right'] {
      border-right-color: $dark;

      &::after {
        border-right-color: $dark;
      }
    }

    [class^='Popover-title'] {
      background-color: $dark;
      border-bottom-color: $grey;
    }
  }
}
