[class^='SeriesIndexPoster-title'],
[class^='ArtistIndexPoster-title'] {
  background-color: $grey;
  color: $white;
}

[class^='SeriesIndexPoster-nextAiring'] {
  background-color: $grey;
  color: $white;
}

[class^='SeriesIndexPoster-content'],
[class^='ArtistIndexPoster-content'] {
  &:hover {
    [class*='Label-default'] {
      background-color: $grey;
      opacity: 1;
    }
  }
}
