[class^='SeasonPassSeason-season'] {
  background-color: $grey;
  border-color: $grey;
}

[class^='SeasonPassSeason-episodes'] {
  background-color: $grey;
  color: $white;
}

[class^='MonitorToggleButton-toggleButton'] {
  &:hover {
    color: darken($white, 25%);
  }
}
