[class*='SeriesSearchInput-containerOpen'] [class^='SeriesSearchInput-seriesContainer'],
[class*='ArtistSearchInput-containerOpen'] [class^='ArtistSearchInput-artistContainer'] {
  background-color: $grey;
  border: 1px solid $grey;
  box-shadow: none;
  color: $white;
}

[class^='SeriesSearchInput-sectionTitle'],
[class^='ArtistSearchInput-sectionTitle'] {
  color: darken($white, 25%);
}

[class*='SeriesSearchInput-highlighted'] {
  background-color: $sonarr;
}

[class*='ArtistSearchInput-highlighted'] {
  background-color: $lidarr;
}
