[class^='Settings-link'] {
  border-bottom: 1px solid $grey;
  color: $white;

  &:hover {
    border-bottom: 1px solid $white;
    color: $white;
  }
}

[class^='Settings-summary'] {
  color: $white;
}

[class^='FieldSet-legend'] {
  color: $white;
}

[class^='FormLabel-label'] {
  font-weight: normal;
}
