/* --- SIDEBAR --- */
//background
.PageSidebar-sidebarContainer-2kLcI {
    background-color: $DarkBG !important;
}

.PageSidebar-sidebar-2UXc0 {
    background-color: transparent !important;
}

//item hover
.PageSidebarItem-isActiveParentLink-2qgS5 {
    background-color: $Grey !important;
}
