[class^='DescriptionList-descriptionList'] {
  [class*='Link-to'] {
    color: $white;
  }
}

[class^='Updates-info'] {

  [class^='Updates-branch'],
  [class^='Updates-label'] {
    &:not([class*='Label-success']) {
      background-color: $grey;
      border-color: $grey;
      font-weight: normal;
    }
  }
}

[class*='Alert-info'] {
  background-color: $grey;
  border-color: $grey;
  color: $white;
}
