[class^='SeriesIndexTable-tableContainer'],
[class^='ArtistIndexTable-tableContainer'] {
  [class^='IconButton-button'] {
    &:hover {
      color: darken($white, 25%);
    }
  }

  [class^='ProgressBar-container'] {
    background-color: $grey;
  }
}

[class^='VirtualTableRow-row'] {
  &:hover {
    background-color: $greydark;
  }
}

[class^='ArtistIndexRow-sortName'] [class*='Link-to'] {
  &:hover {
    color: darken($lidarr, 10%);
  }
}
