/* --- TOOLBAR --- */
//background
.PageToolbar-toolbar-1oL_w {
    background-color: $GreyBG !important;
}

//text
.PageToolbarButton-label-13ZCD {
    color: $White !important;
}

//separator
.PageToolbarSeparator-separator-2a7j3 {
    border-right-color: $White !important;
}
