@media (min-width: 768px) {
  [class^='About-descriptionList'] {
    &[class*='DescriptionList-descriptionList']>span {
      &:nth-child(1)> {
        [class^='DescriptionListItemTitle-title'] {
          &::after {
            content: '\A Darkerr Version';
            white-space: pre;
          }
        }

        [class^='DescriptionListItemDescription-description'] {
          &::after {
            content: '\A 3.0.0-beta9';
            white-space: pre;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  [class^='About-descriptionList'] {
    &[class*='DescriptionList-descriptionList']>span {
      &:nth-child(1)>[class^='DescriptionListItemDescription-description'] {
        &::after {
          content: '\A Darkerr Version';
          font-weight: bold;
          white-space: pre;
        }
      }

      &:nth-child(2)>[class^='DescriptionListItemTitle-title'] {
        &::before {
          content: '3.0.0-beta9 \A';
          font-weight: normal;
          white-space: pre;
        }
      }
    }
  }
}
