/*  Darkerr for Jackett 1.0.0-beta3 by Felix

        A darker theme for Jackett

                homepageURL:    https://git.io/Darkerr
                supportURL:     https://github.com/iFelix18/Darkerr/issues
                license:        CC-BY-SA-4.0
*/
/* --- VERSION --- */
#footer:after {
  white-space: pre !important;
  content: "\A Darkerr for Jackett Version 1.0.0-beta3" !important;
}

/* --- BACKGROUNDS --- */
html {
  background-color: #1A1A1A !important;
}

body {
  background-color: #1A1A1A !important;
  background-image: none !important;
}

#page {
  background-color: #1F1F1F !important;
}

/* --- LOGO --- */
#logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* --- TEXTS --- */
* {
  color: #FFF !important;
}

/* --- TABLE --- */
table thead th {
  border-color: #303030 !important;
}

table tbody tr {
  background-color: #1F1F1F !important;
}

table tbody tr:hover {
  background-color: #303030 !important;
}

table tbody tr:hover td {
  border-color: transparent !important;
}

table tbody tr td {
  border-color: #303030 !important;
}

table tfoot td {
  border-color: #303030 !important;
}

/* --- FORMS --- */
.form-control {
  background-color: #303030 !important;
  border-color: #303030 !important;
}

.form-control[readonly] {
  background-color: #303030 !important;
  border-color: #FFF !important;
}

.form-control:focus {
  border-color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#configured-indexer-datatable_length select {
  background-color: #303030 !important;
  border: solid 1px #303030 !important;
}

#configured-indexer-datatable_length select:focus {
  border-color: #FFF !important;
}

#configured-indexer-datatable_filter input {
  background-color: #303030 !important;
  border: solid 1px #303030 !important;
}

#configured-indexer-datatable_filter input:focus {
  border-color: #FFF !important;
}

/* --- MODALS --- */
.modal-content {
  background-color: #1F1F1F !important;
}
