/* --- BACKGROUNDS --- */
html {
    background-color: $DarkBG !important;
}

body {
    background-color: $DarkBG !important;
    background-image: none !important;
}

#page {
    background-color: $GreyBG !important;
}
