/* --- FORMS --- */
.form-control {
    background-color: $Grey !important;
    border-color: $Grey !important;

    &[readonly] {
        background-color: $Grey !important;
        border-color: $White !important;
    }

    &:focus {
        border-color: $White !important;
        box-shadow: none !important;
    }
}

#configured-indexer-datatable_length {
    select {
        background-color: $Grey !important;
        border: solid 1px $Grey !important;

        &:focus {
            border-color: $White !important;
        }
    }
}

#configured-indexer-datatable_filter {
    input {
        background-color: $Grey !important;
        border: solid 1px $Grey !important;

        &:focus {
            border-color: $White !important;
        }
    }
}
