/* --- TABLE --- */
table {
    thead {
        th {
            border-color: $Grey !important;
        }
    }

    tbody {
        tr {
            background-color: $GreyBG !important;

            &:hover {
                background-color: $Grey !important;

                td {
                    border-color: transparent !important;
                }
            }

            td {
                border-color: $Grey !important;
            }
        }
    }

    tfoot {
        td {
            border-color: $Grey !important;
        }
    }
}
