/*  Darkerr for Jackett 1.0.0-beta4 by Felix

        A darker theme for Jackett

                homepageURL:    https://git.io/Darkerr
                supportURL:     https://github.com/iFelix18/Darkerr/issues
                license:        CC-BY-SA-4.0
*/
@import "partials/_variables.scss";
@import "partials/_version.scss";
@import "partials/_backgrounds.scss";
@import "partials/_logo.scss";
@import "partials/_texts.scss";
@import "partials/_table.scss";
@import "partials/_input.scss";
@import "partials/_modals.scss";
@import "partials/_buttons.scss";
@import "partials/_info.scss";
